# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
env/
.venv/
venv/
ENV/

# Environment files
.env
.env.*

# Test/cache artifacts
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/

# Logs
*.log

# Editor/OS
.DS_Store
.vscode/
.idea/

# # Database
# *.sqlite
# *.db
